@import "tailwindcss";

:root {
  --background: #000000;
  --secondary-background: #1f2023;
  --foreground: #fff;
  --primary: #ffc700;
  --neutral: #383a42;
  --accent: #d2d2d2;
  --subdued: #ffe8ab;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
  --color-subdued: var(--subdued);
  --spacing-4.5: 1.125rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-grotesk), Arial, Helvetica, sans-serif;
}
